@import 'font-awesome/css/font-awesome.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-formats {
  display: flex;
  gap: 12px;
}

.ql-formats svg {
  cursor: pointer;
}

.ql-editor p {
  width: 100%;
  font-size: 14px;
}

.fade-in {
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#markdown {
  & ol,
  & ul,
  & menu {
    list-style: revert !important;
    padding: revert !important;
    margin: revert !important;
  }
}
